
<div class="container  text-center">
    <img src="/images/checkemailicon.png" style="height: 300px; width: 300px" />

    <h4 class="mt-5">
        تم تغير كلمه المرور بنجاح
    </h4>
    <a asp-controller="Administraion" asp-action="ListUsers" class="btn btn-danger m-5 w-50"> الرجوع</a>

</div>