@model ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar">


<!-- auth-forgot-password.html  21 Nov 2019 04:05:02 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>استعادة كلمة المرور</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/app.min.css">
    <link rel="stylesheet" href="~/Templetes/Admin/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/style.css">
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/custom.css">
    <link rel='shortcut icon' type='~/Templetes/Admin/image/x-icon' href='~/Templetes/Admin/assets/img/favicon.ico' />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    @*to active client side validation*@
    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

    <style>
        #dntCaptchaImg {
            margin-left: 84px;
            height: 50px;
            width: 110px
        }

        .card .card-header {
            display: initial
        }
    </style>

</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class=" mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header text-center">
                                <h4 class="pb-3">استعادة كلمة المرور</h4>
                            </div>
                            <div class="card-body">
                                <h6 class="text-right pb-3">أدخل بريدك الالكتروني بالاسفل لاستعادة كلمة المرور</h6>

                                <form method="POST">
                                    <div asp-validation-summary="All" class="alert alert-danger text-right mt-4"></div>

                                    <div class="form-group text-right">
                                        <label asp-for="Email">البريد الالكترونى</label>
                                        <input asp-for="Email" class="form-control text-right pr-5" tabindex="1" autofocus placeholder=" البريد الالكترونى">
                                        <span asp-validation-for="Email"></span>
                                    </div>

                                    <div class="float-right pt-4 pb-4 ">
                                        <dnt-captcha asp-captcha-generator-max="999999"
                                                     asp-captcha-generator-min="111111"
                                                     asp-captcha-generator-language="English"
                                                     asp-captcha-generator-display-mode="ShowDigits"
                                                     asp-use-relative-urls="false"
                                                     asp-placeholder="ادخل كلمه التحقق"
                                                     asp-validation-error-message="الرجاء إدخال رمز التحقق الصحيح"
                                                     asp-font-name="Cairo"
                                                     asp-font-size="14"
                                                     asp-fore-color="#333333"
                                                     asp-back-color="#ccc"
                                                     asp-text-box-class=" form-control text-right pr-5 "
                                                     asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span ></span>{0}"
                                                     asp-validation-message-class="text-danger"
                                                     asp-use-noise="false" />
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            ارسـل
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Templetes/Admin/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Templetes/Admin/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Templetes/Admin/assets/js/custom.js"></script>
</body>


<!-- auth-forgot-password.html  21 Nov 2019 04:05:02 GMT -->
</html>