@model MNFACheckViewModel


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ar">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>التحقق الثنائى</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/style.css">
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Templetes/Admin/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/Templetes/Admin/assets/img/favicon.ico' />
    <link href="~/css/adminSite.css" asp-append-version="true" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="page-error">
                    <div class="page-inner">
                        <img src="/images/auth.png"   />

                        <h2 class="mb-5 mt-4">التحقق الثنائى</h2>
                        <div class="page-description mb-5 mt-4">
                            <form asp-controller="Account" asp-action="MFACheck" asp-area="Admin" method="post" >
                                    
                                    <table class="mb-5 mt-4">
                                        <tr>
                                            <td class="invisible">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>

                                            <td colspan="2">
                                                <div class="form-group">

                                                <div asp-validation-summary="All" style="color: red"></div>
                                                <input asp-for="UserName" hidden name="@ViewBag.UserName"/>
                                                <input asp-for="isRemember" hidden name="@ViewBag.isRemember"/>

                                                <label asp-for="Code"></label>
                                                <input type="text" asp-for="Code" class="form-control text-right"/>

                                                <span asp-validation-for="Code" style="color: red"></span>
                                                <button type="submit" class="btn btn-primary btn-lg  mb-5 mt-4">تحقق</button>

                                                </div>

                                            </td>

                                        </tr>
                                    </table>
                                   

                            </form>
                            <div class="page-search mb-5 mt-4">
                               
                                <div class="mb-5 mt-4">
                                    <a asp-action="Index" asp-controller="Home" asp-area="">
                                        إضغط هنا للذهاب للصفحة الرئيسية
                                    </a>
                                </div>

                            </div>
                        </div>

                        </div>
                       
                   
                </div>
                </div>
            </div>
        </section>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Templetes/Admin/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Templetes/Admin/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Templetes/Admin/assets/js/custom.js"></script>
</body>


</html>