* {
    font-family: 'Cairo', sans-serif;
}

/*#searchInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
*/
.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}


.validation-summary-valid {
    display: none;
}



.form-control {
    font-size: 17px !important
}

.btn.btn-lg {
    font-size: 14px !important
}
.form-group .control-label, .form-group > label {
    font-size: 15px !important
}
.text-small {
    font-size: 14px !important
}
label {
    font-size: 19px !important
}
.invalid-feedback {
    font-size: 16px !important
}
.alert {
    font-size: 18px !important
}

.card .card-header h4 {
    font-size: 20px !important
}

.card .card-header {
    display: block !important
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
    padding: 0px
}

/*image profile*/

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 33px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px dashed silver;
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

.p-image {
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}