@model IEnumerable<Chat>

@foreach (var chat in Model)
{
    <li>

        <div class="media align-items-center">
            @*<div class="chat-user-img mr-3">
                    <div class="avatar-xs">
                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                            R
                        </span>
                    </div>
                </div>*@
            <div class="media-body overflow-hidden">
                <h5 class="text-truncate font-size-14 mb-0">
                    <a asp-area="Admin" asp-controller="ChatRoom" asp-action="Chat" asp-route-id="@chat.Id">
                        # @chat.Name
                        <span class="badge badge-soft-danger badge-pill float-right">+23</span>
                    </a>
                </h5>
            </div>
        </div>
    </li>
}




