@model IEnumerable<Chat>


@{
    ViewBag.Title = "الرئيسية";

    Layout = "_ChatRoomLayout";
    var userId = User.GetUserId();
}

<div class="chat-body">
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="ChatRoom" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).User.UserName
        </a>
    }
</div>