<h3 class="text-danger">
    حسابك مغلق ، يرجى المحاولة مرة أخرى بعد وقت ما أو يمكنك 
    <a asp-action="ForgotPassword" asp-controller="Account">
        إعادة تعيين كلمة المرور الخاصة بك عن طريق الضغط هنا
    </a>
</h3>