@model ForgotPasswordViewModel

<h2>Forgot Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <dnt-captcha asp-captcha-generator-max="999999"
                         asp-captcha-generator-min="111111"
                         asp-captcha-generator-language="English"
                         asp-captcha-generator-display-mode="ShowDigits"
                         asp-use-relative-urls="true"
                         asp-placeholder="ادخل كلمه التحقق"
                         asp-validation-error-message="الرجاء إدخال كلمة التحقق الصحيحة"
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="#333333"
                         asp-back-color="#ccc"
                         asp-text-box-class="text-box form-control float-right  text-right w-25"
                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text '></span></span>{0}"
                         asp-validation-message-class="text-danger"
                         asp-use-noise="false"
                         asp-dir="ltr" />
            <br />
            <br />
            <button type="submit" class="btn btn-primary w-auto">ارسال البيانات</button>
        </form>
    </div>
</div>