@model RegisterViewModel

@{
    ViewBag.Title = "تسجيل مستخدم جديد";
}

<h1>تسجيل مستخدم جديد</h1>


<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="alert alert-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control text-right" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control text-right" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control text-right" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control text-right " />
            </div>
            <dnt-captcha asp-captcha-generator-max="999999"
                         asp-captcha-generator-min="111111"
                         asp-captcha-generator-language="English"
                         asp-captcha-generator-display-mode="ShowDigits"
                         asp-use-relative-urls="true"
                         asp-placeholder="ادخل كلمه التحقق"
                         asp-validation-error-message="الرجاء إدخال كلمة التحقق الصحيحة"
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="#333333"
                         asp-back-color="#ccc"
                         asp-text-box-class="text-box form-control w-25 text-right float-right"
                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text '></span></span>{0}"
                         asp-validation-message-class="text-danger m-3"
                         asp-use-noise="false" />
            <br />
            <br />
            <button type="submit" class="btn btn-primary w-auto">التسجيل</button>
        </form>
    </div>
</div>

