
@model ChatRoomViewModel



<form asp-controller="ChatRoom" asp-action="CreateRoom">
    <div class="form-group mb-4">
        <label for="addgroupname-input">اسم الغرفة</label>
        <input type="text" class="form-control text-right" asp-for="RoomName" id="addgroupname-input"
               placeholder="ادخل اسم المجموعة">
        <span asp-validation-for="RoomName"></span>
    </div>
    <div class="form-group mb-4">
        <label>اعضاء الغرفة</label>
        <div class="mb-3">
            <button class="btn btn-light btn-sm" type="button"
                    data-toggle="collapse" data-target="#groupmembercollapse"
                    aria-expanded="false" aria-controls="groupmembercollapse">
                اختيار الاعضاء
            </button>
        </div>

        <div class="collapse" id="groupmembercollapse">
            <div class="card border">
                <div class="card-header">
                    <h5 class="font-size-15 mb-0">الاسماء</h5>
                </div>
                <div class="card-body p-2">
                    <div data-simplebar style="max-height: 150px;">
                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                A
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck1" checked>
                                        <label class="custom-control-label"
                                               for="memberCheck1">
                                            Albert
                                            Rodarte
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck2">
                                        <label class="custom-control-label"
                                               for="memberCheck2">
                                            Allison
                                            Etter
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                C
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck3">
                                        <label class="custom-control-label"
                                               for="memberCheck3">
                                            Craig
                                            Smiley
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                D
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck4">
                                        <label class="custom-control-label"
                                               for="memberCheck4">
                                            Daniel
                                            Clay
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                I
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck5">
                                        <label class="custom-control-label"
                                               for="memberCheck5">
                                            Iris
                                            Wells
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                J
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck6">
                                        <label class="custom-control-label"
                                               for="memberCheck6">
                                            Juan
                                            Flakes
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck7">
                                        <label class="custom-control-label"
                                               for="memberCheck7">
                                            John
                                            Hall
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck8">
                                        <label class="custom-control-label"
                                               for="memberCheck8">
                                            Joy
                                            Southern
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                M
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck9">
                                        <label class="custom-control-label"
                                               for="memberCheck9">
                                            Michael
                                            Hinton
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck10">
                                        <label class="custom-control-label"
                                               for="memberCheck10">
                                            Mary
                                            Farmer
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                P
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck11">
                                        <label class="custom-control-label"
                                               for="memberCheck11">
                                            Phillis
                                            Griffin
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                R
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck12">
                                        <label class="custom-control-label"
                                               for="memberCheck12">
                                            Rocky
                                            Jackson
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <div class="p-3 font-weight-bold text-primary">
                                S
                            </div>

                            <ul class="list-unstyled contact-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="memberCheck13">
                                        <label class="custom-control-label"
                                               for="memberCheck13">
                                            Simon
                                            Velez
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="addgroupdescription-input">الوصف</label>
        <textarea class="form-control text-right" name="Description" id="addgroupdescription-input"
                  rows="3" placeholder="يرجى ادخال الوصف"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-link"
                data-dismiss="modal">
            اغلاق
        </button>
        <button type="submit" class="btn btn-primary">انشاء غرفة</button>
    </div>
</form>